/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { background: #000; font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

html, button, input, select, textarea { font-family: sans-serif; color: #fff; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #ccc; color: #fff; text-shadow: none; }
::selection { background: #ccc; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #fff; text-decoration: none; }
/*a:visited { color: #fff; }*/
a:hover { color: #666;}
a:focus { outline: none; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 0 0; padding: 0 0 0 0; list-style: none; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ==|== primary styles =====================================================
   Author: Tyler Almond
   ========================================================================== */

/*@font-face {
    font-family: 'gotham';
    src: url('fonts/gothamhtf-book.eot');
    src: url('fonts/gothamhtf-book.eot?#iefix') format('embedded-opentype'),
         url('fonts/gothamhtf-book.woff') format('woff'),
         url('fonts/gothamhtf-book.ttf') format('truetype'),
         url('fonts/gothamhtf-book.svg#gothamhtf-book') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham';
    src: url('fonts/gothamhtf-medium.eot');
    src: url('fonts/gothamhtf-medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/gothamhtf-medium.woff') format('woff'),
         url('fonts/gothamhtf-medium.ttf') format('truetype'),
         url('fonts/gothamhtf-medium.svg#gothamhtf-medium') format('svg');
    font-weight: bold;
    font-style: normal;
}*/
/*@font-face {
    font-family: 'garamond';
    src: url('fonts/agaramondpro-regular.eot');
    src: url('fonts/agaramondpro-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/agaramondpro-regular.woff') format('woff'),
         url('fonts/agaramondpro-regular.ttf') format('truetype'),
         url('fonts/agaramondpro-regular.svg#agaramondpro-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}*/
/*@font-face {
    font-family: 'sabon';
    src: url('fonts/sabon-roman.eot');
    src: url('fonts/sabon-roman.eot?#iefix') format('embedded-opentype'),
         url('fonts/sabon-roman.woff') format('woff'),
         url('fonts/sabon-roman.ttf') format('truetype'),
         url('fonts/sabon-roman.svg#sabon-roman') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

body {
  /*font-family: 'gotham';*/
  -webkit-font-smoothing: antialiased;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

body {
  overflow:hidden;    /* needed to eliminate scrollbars caused by the background image */
  padding:0;margin:0;   /* necesarry for the raster to fill the screen */
  height:100%;width:100%;
  background: #000;  
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

a {
  -webkit-transition: all 0.3s ease-out;  /* Safari 3.2+, Chrome */
     -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.5–12.00 */
          transition: all 0.3s ease-out;   
}

.bgimg {
  position:absolute;
  z-index: -9;
  /*display: none;*/
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;  
}

.bg-brand,
.bg-collection,
.bg-boutiques,
.bg-contact {
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;  
}

#container {
  position:absolute;
  z-index: 5;       /* Place the new body above the background image */
  overflow: auto;      /* restore scrollbars for the content */
  height: 100%;width:100%; /* Make the new body fill the screen */
}

/* =============================================================================
   Splash
   ========================================================================== */

/*video*/

.video-wrapper {
  position: relative;
  padding-bottom: 42.1875%;
  padding-top: 25px;
  height: 0;
  width: 75%;
  max-width: 960px;
  margin: 0 auto;
  /*border: 1px solid white;*/
}

@media only screen and (min-width: 1100px) {
  .video-wrapper {
    padding-bottom: 30%;
  }
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#splash {
  position: absolute;
  /*top: 50%;*/
  top: 18%;
  left: 50%;
  /*margin-top: -74px;*/
  margin-left: -125px;
}

#splash h1 {
  margin: 40px auto 25px;
  margin: 0;
  width: 246px;
  height: 58px;
}

#splash nav {
  font-size: 11px;
  /*margin-top: 50px;*/
  margin-top: 45px;
  position: absolute;
  left: 50%;
  margin-left: -52px;
  z-index: 9;
}

.lt-ie9 #splash nav {
  margin-left: -49px;  
}

#splash nav a {
  color: #fff;
  float: left;
}

#splash nav a:hover {
  color: #666;
}

#splash nav p {
  float: left;
  margin-right: 3px;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 30px;    
}

#footer-bg {
  bottom: 0; 
  right: 0; 
  width: 100%;
  height: 30px;  
  background: black;
  zoom: 1;
  filter: alpha(opacity=80);
  opacity: 0.8;  
}

footer small {
  position: absolute;
  left: 20px;
  bottom: 10px;
  font-family: Georgia, serif;
  font-size: 8px;
}

footer #credit {
  position: absolute;
  bottom: 10px;
  left: 177px;
  font-family: Georgia, serif;
  font-size: 8px; 
 }

footer ul {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

footer li {
  float: left;
  font-weight: bold;
  font-size: 9px;
  margin-right: 10px;
}

footer a:hover {
  color: #F3E6BF;
}

/* =============================================================================
   Home
   ========================================================================== */

#header-bg {
  background: #F3E6BF;  
  zoom: 1;
  filter: alpha(opacity=90);
  opacity: 0.9;
  width: 100%;
  height: 100px;
  position: absolute;
  z-index: -1; 
  left: 0;  
}

header h1 {
  margin: 0;
  width: 160px;
  height: 25px;
  margin: 0 auto;
  padding-top: 15px;            
}

nav {
  position: absolute;
  left: 50%;
  margin-left: -132px;
  margin-top: 25px;
}

#nav-it {
  margin-left: -139px; 
}

nav a {
  color: #231F20;
  font-weight: bold;
  display: block;
  height: 19px;
}

nav li {
  float: left;
  font-size: 10px;
  margin: 7px;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.3s ease-out;  /* Safari 3.2+, Chrome */
     -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.5–12.00 */
          transition: all 0.3s ease-out;   
}

nav li:hover {
  border-bottom: 1px solid #666;  
}

nav .active {
  color: #fff;
  border-bottom: 1px solid #fff;
}

nav .active a {
  color: #fff;
}

nav .active:hover {
  color: #fff;
  border-bottom: 1px solid #fff;    
}

#home h2 {
  /*font-family: Georgia, serif;*/
  font-size: 29px;
  color: #F3E6BF;
  width: 400px;
  line-height: 1;
  position: fixed;
  /*right: 70px;*/
  left: 70px;
  bottom: 90px;
  display: none;
}

/* =============================================================================
   Brand
   ========================================================================== */

#brand {
  height: 350px;
  width: 320px; 
  margin: 155px 0 20px 0;
  position: absolute;
  left: 50%;
  margin-left: -160px;
}

#brand p {
  font-size: 13px;
  font-weight: bold;
  color: white;
}

/** Nano Scroller initial setup **/
.nano {
  position : relative;
  width    : 100%;
  height   : 100%;
  overflow : hidden;
}
.nano .content {
  position      : absolute;
  overflow      : scroll;
  overflow-x    : hidden;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
}
.nano .content:focus {
  outline: thin dotted;
}
.nano .content::-webkit-scrollbar {
  visibility: hidden;
}
.has-scrollbar .content::-webkit-scrollbar {
  visibility: visible;
}
.nano > .pane {
  background : rgba(0,0,0,.25);
  position   : absolute;
  width      : 5px;
  right      : 0;
  top        : 0;
  bottom     : 0;
/*  visibility : hidden\9;*/ /* Target only IE7 and IE8 with this hack */
  opacity    : .5; 
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
}
.nano > .pane > .slider {
  background: rgba(0,0,0,.5);
  position              : relative;
  margin                : 0 1px;
}
.nano:hover > .pane, .pane.active, .pane.flashed {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.99;
}

/** Nano Scroller custom style **/

.nano { 
  width: 300px; 
  height: 200px;
}

.nano .content {
  padding: 0 20px 0 20px; 
}

.nano .pane   {
  background: #888;
}

.nano .slider { 
  background: #fff !important; 
}


/* =============================================================================
   Boutiques
   ========================================================================== */

#boutiques {
  /*height: 480px;  */
  position: absolute;
  left: 50%;
  margin: 100px 0 100px 0;
  margin-left: -79px;
}

#boutiques h2 {
  font-family: Georgia, serif;
  font-size: 19px;
  text-align: center;
  margin: 0;  
}

#locations {
  margin-bottom: 12px;
}

#boutiques h3 {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  margin: 30px 0 10px 0;  
}

#boutiques ul {
  font-size: 10px;
  text-align: center;
  margin-bottom: 10px;
}

#boutiques span {
  color: #F3E6BF;
}

/* =============================================================================
   Contact
   ========================================================================== */

#contact {
  /*height: 250px; */
  position: absolute;
  left: 50%;
  margin-left: -78px;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}


#contact h2 {
  font-family: Georgia, serif;
  font-size: 19px;
  margin: 0;
}

#contact h3 {
  font-weight: bold;
  font-size: 12px;
  margin: 30px 0 5px 0;
}

#contact p {
  margin: 0;
  font-size: 10px;
}

#contact a {
  font-size: 10px;
  margin: 0;
}

/* =============================================================================
   Collections
   ========================================================================== */

/** A/W 2012 **/

.container-collection {
  background: #9F9F9F;
}

.container-collection-it {
  background: #9F9F9F;
}


.container-collection header {
  height: 115px;
}

.container-collection-it header {
  height: 115px;
}

.container-collection nav,
.container-accessories nav {
  width: 330px;
  position: absolute;
  left: 50%;
  margin-left: -165px;
}

.container-collection-it nav,
.container-accessories-it nav {
  width: 375px;
  position: absolute;
  left: 50%;
  margin-left: -187.5px;
}

.container-collection #nav-collection,
.container-accessories #nav-collection {
  width: 280px;
  position: absolute;
  left: 50%;
  margin-left: -140px;
}

.container-collection-it #nav-collection-it,
.container-accessories-it #nav-collection-it {
  width: 300px;
  position: absolute;
  left: 50%;
  margin-left: -150px;
}

.container-collection #nav-collection-bottom,
.container-accessories #nav-collection-bottom {
  /*width: 360px;*/
  position: absolute;
  left: 50%;
  margin-left: -142px;  
  top: 23px;
}

.container-collection-it #nav-collection-bottom-it,
.container-accessories-it #nav-collection-bottom-it {
  /*width: 375px;*/
  position: absolute;
  left: 50%;
  margin-left: -136px;  
  top: 23px;
}

nav .active-collection {
  color: #fff;
}

#collection {
  margin-top: 10px;
  display: none;
}

/** thumbs **/

#thumbs-wrapper {
  width: 100%;
  height: 145px;
  overflow: hidden;
  position: relative;
  left: 0;
}

#thumbs img {
  display: block;
  float: left;
  /*width: 95px;*/
  height: 145px;
}

.prev,
.next { 
  background: #F3E6BF;  
  zoom: 1;
  filter: alpha(opacity=70);
  opacity: 0.7;                     
  display: block;
  height: 145px;
  width: 50%;
  top: 0;
  position: absolute;
}

.prev:hover,
.next:hover {
  zoom: 1;
  filter: alpha(opacity=80);
  opacity: 0.8;             
}

.prev {
  left: -47.5px;
}

.prev.landscape {
  left: -107.5px;
}

.next {
  right: -47.5px;
}

.next.landscape {
  right: -107.5px;
}

/** large image **/

#images {
/*  width: 520px;
  height: 475px;*/
  position: absolute;
  left: 50%;
  margin-left: -300px;
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: hidden; 
}

#images.landscape {
  width: 885px;
  margin-left: -352.5px;
}

.slide img {
  float: left;
  margin-right: 25px;
  display: block;
  width: 600px;
  height: 900px;
}

.slide {
  width: 800px;
  height: 900px;
  font-size: 13px;
  line-height: 1.1;
  margin-bottom: 15px;
}

.slide.landscape {
  width: 885px;
}

.slide .slide-top,
.slide .slide-bottom {
  /*font-family: Georgia, serif;*/
  color: #1D1D1D;
}

.slide .slide-intro-copy {
  font-size: 18px;
  color: white;
}

.slide .slide-top {
  padding-top: 230px;
}

.slide .slide-bottom {
  margin-top: 20px;
}

.slide p {
  margin: 5px;
}


/** Pre-Loader **/

#jpreOverlay {
  background-color: #9F9F9F;
}

#jpreLoader{
  width:100%;
  height:1px;
}

#jpreBar {
  /*background-color: #F3E6BF;*/
  background-color: #FFF;
  animation: progress 2s linear infinite;
  -moz-animation: progress 2s linear infinite;
  -webkit-animation: progress 2s linear infinite;
  -ms-animation: progress 2s linear infinite;
  -o-animation: progress 2s linear infinite;  
}

/** Magnify **/
/* This is the moving lens square underneath the mouse pointer. */
.cloud-zoom-lens {
  cursor:move;    
}

/* This is the zoom window. */
.cloud-zoom-big {
  overflow:hidden;
}

/* This is the loading message. */
.cloud-zoom-loading {
  color:white;  
  background:#222;
  padding:3px;
  border:1px solid #000;
}

/** Accessories **/
.container-accessories #header-bg {
  height: 125px;   
}

.container-accessories-it #header-bg {
  height: 125px;   
}

#collection-accessories {
  position: fixed;
  bottom: 80px;
  left: 300px;
  display: none;
}

#collection-accessories h2 {
  font-family: Georgia, serif;
  color: #F3E6BF;
  font-size: 29px;
  line-height: 1;
  margin: 0;
}

#collection-accessories p {
  font-size: 11px;
}



/*White BG Theme - dark fonts*/

html,
body {
  background: #FFF;
}

html,
a,
p,
#splash nav a,
#brand p,
nav .active a,
nav .active-collection {
  color: #000;
}

nav .active,
nav .active:hover {
  border-bottom: 1px solid #000;
}

#splash nav a:hover,
#home h2,
#boutiques span,
#collection-accessories h2 {
  color: #555;
}

#header-bg {
  background: none;
}

footer,
footer a,
.slide p
 {
  color: #FFF;
}

.prev, .next {
  background: #CCC;
}




/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}